body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

ul {
  text-align: center;
  margin-top: 31.5px;
  margin-left: 330px;
  width: 620px;
  height: 15px;
}

li {
  display: inline;
  color: red;
  width: 68px;
  height: 27px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  margin-right: 60px;
  text-transform: uppercase;
}

li a {
  text-decoration: none;
  color: red;
}

.image {
  width: 1280px;
  height: 789px;
  margin-top: 25px;
}

.title-text {
  text-align: center;
  width: 774px;
  height: 29px;
  margin-top: 53px;
  margin-left: 253px;
  color: #373737;
  text-transform: uppercase;
}

.title-text h2 {
  font-weight: 700 !important;
  font-size: 22px !important;
  letter-spacing: 3.3px;
  line-height: 26.82px;
}

.main-text {
  margin-top: 35px;
  margin-left: 67.5px;
  text-align: center;
  width: 1145px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.4px;
}

.start-button {
  margin-top: 50px;
  margin-left: 544.5px;
}

.start-button button {
  width: 191px;
  height: 51px;
  border-radius: 4px;
  background-color: #ff0000;
  border-color: transparent;
}

.button-text {
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.8px;
  color: #ffffff;
  text-transform: uppercase;
}

.copyright-text {
  margin-left: 708px;
  margin-top: 70px;
  margin-bottom: 55px;
}

.copyright-text h2 {
  font-weight: 700;
  font-size: 16px !important;
  line-height: 19.5px !important;
  letter-spacing: 2.4px;
}
